.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: rgb(255, 255, 255);
}

.right {
  right: 0;
  background-color: rgb(255, 255, 255);
}

/* button next dan back */
.buttonkukanan {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 19px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    float: right;
  }
  .buttonkukanan span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .buttonkukanan span:after {
    content: '\21D2';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .buttonkukanan:hover {
    background-color: #f7c2f9;
  }
  .buttonkukanan:hover span {
    padding-right: 25px;
  }
  .buttonkukanan:hover span:after {
    opacity: 1;
    right: 0;
  }
  .buttonkukiri {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 19px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    float: left;
  }
  .buttonkukiri span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .buttonkukiri span:after {
    content: '\21D0';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
  }
  .buttonkukiri:hover {
    background-color: #f7c2f9;
  }
  .buttonkukiri:hover span {
    padding-left: 25px;
  }
  .buttonkukiri:hover span:after {
    opacity: 1;
    left: 0;
  }