/*************** MEDIA VARIABLE ***************/
@media only screen and (min-width: 992px) {
  .desk-ml-auto {
    margin-left: auto;
  }
  .desk-mr-auto {
    margin-right: auto;
  }
  .desk-mt-auto {
    margin-top: auto;
  }
  .desk-mb-auto {
    margin-bottom: auto;
  }
  .image-position {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .image-position.image-position-right {
    right: 0;
  }
  .image-position.image-position-left {
    left: 0;
  }
  .image-position.image-position-rb {
    right: 0;
    bottom: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .image-position.image-position-lb {
    left: 0;
    bottom: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .desk-m-0 {
    margin: 0 !important;
  }
  .desk-p-0 {
    padding: 0 !important;
  }
  .desk-mlr-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .desk-plr-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .desktop-full-width {
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }
  .mt-lg-100 {
    margin-top: 100px;
  }
  .page-grid-item.page-grid-item-full .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .inner-page-side-header {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 450px;
  }
  .inner-page-side-header .fixed-top {
    padding-left: 20px;
    padding-right: 20px;
  }
  .fixed-top .navber-desktop-no-sticky {
    width: auto;
  }
  .fixed-top .navber-desktop-no-sticky.is-sticky {
    background-color: transparent;
    -webkit-animation: none;
            animation: none;
    position: relative;
    width: 100% !important;
  }
  .fixed-top .navber-desktop-no-sticky.is-sticky.sticky-black {
    background-color: transparent;
  }
  .desk-pt-30 {
    padding-top: 30px;
  }
  .desk-pb-20 {
    padding-bottom: 20px;
  }
  .fixed-top-half {
    width: 50%;
    padding-left: 35px;
    padding-right: 35px;
  }
  .fixed-top-half .mobile-nav {
    padding-left: 0;
    padding-right: 0;
  }
  .fixed-top-half .mobile-nav .navbar-option {
    display: none;
  }
  .fixed-top-half .mean-container a.meanmenu-reveal {
    padding-right: 0;
  }
  .fixed-top-half .navbar-area.is-sticky {
    left: 0;
    width: 50%;
  }
  .fixed-top-half .mobile-nav-black {
    padding-left: 15px;
    padding-right: 15px;
  }
  .fixed-top-half .mobile-nav-black.mean-container a.meanmenu-reveal {
    padding-right: 15px;
  }
  .fixed-top-half .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 900px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1410px;
  }
  .main-nav {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
  .page-grid-body .container {
    max-width: 100%;
  }
  .page-grid-header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .page-grid-header .container {
    max-width: 800px;
  }
  .inner-page-side-header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70%;
  }
  .inner-page-side-header .fixed-top {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70%;
  }
  .fixed-top-half {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .news-newsletter {
    padding: 30px;
  }
  .page-header-content h1 {
    font-size: 80px;
    max-width: 435px;
  }
  .page-header-content.page-header-content-sm h1 {
    font-size: 60px;
  }
  .page-header-content.page-header-content-full h1 {
    max-width: 100%;
  }
  .page-3-body-titles {
    -webkit-box-flex: 0;
            flex: 0 0 340px;
    -ms-flex: 0 0 340px;
    max-width: 340px;
    width: 340px;
    margin-bottom: 30px;
  }
  .page-3-body-titles .page-2-titles-main {
    font-size: 80px;
    margin-bottom: 40px;
  }
  .page-3-body-titles .page-2-titles-main:last-child {
    margin-bottom: 0;
  }
  .page-3-body-titles h3 {
    font-size: 45px;
    margin-bottom: 40px;
  }
  .page-3-body-titles h3:last-child {
    margin-bottom: 0;
  }
  .page-3-body-titles h4 {
    font-size: 45px;
    margin-bottom: 40px;
  }
  .page-3-body-titles h4:last-child {
    margin-bottom: 0;
  }
  .page-3-body-titles.page-3-body-titles-lg {
    -webkit-box-flex: 0;
            flex: 0 0 460px;
    -ms-flex: 0 0 460px;
    max-width: 460px;
    width: 460px;
  }
  .page-3-body-titles.page-3-body-titles-xl {
    -webkit-box-flex: 0;
            flex: 0 0 615px;
    -ms-flex: 0 0 615px;
    max-width: 615px;
    width: 615px;
  }
  .flex-column .page-3-body-titles {
    -webkit-box-flex: 1;
            flex: 1;
    -ms-flex: 1;
  }
  .page-3-redirect {
    -webkit-box-flex: 0;
            flex: 0 0 240px;
    -ms-flex: 0 0 240px;
    max-width: 240px;
    width: 240px;
  }
  .page-3-redirect h3 {
    font-size: 45px;
  }
  .news-category-item-7 {
    -webkit-box-flex: 0;
            flex: 0 0 58.33%;
    -ms-flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .news-category-item-6 {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
  }
  .news-category-item-5 {
    -webkit-box-flex: 0;
            flex: 0 0 41.66%;
    -ms-flex: 0 0 41.66%;
    max-width: 41.66%;
  }
  .news-card-grid-2 .news-card-grid-item .news-grid-header {
    height: 100%;
  }
  .news-card-grid-2 .news-card-grid-item .news-grid-header .news-card-entry {
    margin-top: 15px;
  }
  .page-grid-header .mobile-nav {
    display: none;
  }
  .page-grid-header .main-nav {
    display: block;
  }
  .page-grid-body .mobile-nav {
    display: none;
  }
  .page-grid-body .main-nav {
    display: block;
  }
  .fixed-top-half .mobile-nav {
    display: none;
  }
  .fixed-top-half .main-nav {
    display: block;
  }
  .inner-page-side-header .mobile-nav {
    display: none;
  }
  .inner-page-side-header .main-nav {
    display: block;
  }
  .product-details-nav {
    max-height: 690px;
  }
  .product-details-for {
    max-height: 690px;
  }
  .product-action {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header-blog-text h3 {
    font-size: 35px !important;
    line-height: 35px !important;
  }
  .header-blog-text h3 span {
    font-size: 100px !important;
  }
  .header-blog-grid-lg .header-blog-image {
    -webkit-box-flex: 0;
            flex: 0 0 180px;
    -ms-flex: 0 0 180px;
    max-width: 180px;
  }
  .header-blog-grid-sm .header-blog-image {
    -webkit-box-flex: 0;
            flex: 0 0 150px;
    -ms-flex: 0 0 150px;
    max-width: 150px;
  }
  .header-blog-grid-sm .header-blog-image {
    -webkit-box-flex: 0;
            flex: 0 0 110px;
    -ms-flex: 0 0 110px;
    max-width: 110px;
  }
  .header-carousel-content .header-content-text h1 {
    font-size: 80px;
  }
  .page-news-box .news-card-content .news-card-link {
    font-size: 15px;
  }
  .page-news-box .news-flat-content h3 {
    font-size: 20px;
  }
  .page-news-box .news-flat-content .news-card-link {
    font-size: 15px;
  }
  .page-news-box .news-card-entry li {
    font-size: 15px;
  }
  .page-news-box .news-card-entry li i {
    font-size: 16px;
  }
}

@media only screen and (min-width: 2000px) {
  .fixed-top-half {
    padding-left: 80px;
    padding-right: 80px;
  }
  .fixed-top-half .navbar-area {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .fixed-top-half .navbar-area.is-sticky {
    max-width: 100%;
  }
  .fixed-top-half .navbar-area.is-sticky.navber-desktop-no-sticky {
    max-width: 1200px;
  }
  .page-grid-header {
    padding-left: 80px;
    padding-right: 80px;
  }
  .page-grid-header .page-header-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .inner-page-side-header {
    padding-left: 80px;
    padding-right: 80px;
  }
  .inner-page-side-header .page-header-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-grid-body {
    padding-left: 80px;
    padding-right: 80px;
  }
  .page-grid-body .container {
    max-width: 1200px;
  }
  .page-news-box .news-flat-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 130px;
    -ms-flex: 0 0 130px;
    max-width: 130px;
  }
}

@media only screen and (max-width: 991px) {
  .p-tb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pt-80 {
    padding-top: 30px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .pb-80 {
    padding-bottom: 30px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .mb-100 {
    margin-bottom: 50px;
  }
  .mt-100 {
    margin-top: 50px;
  }
  .max-585 {
    max-width: 100%;
  }
  .max-600 {
    max-width: 100%;
  }
  .mobile-pb-0 {
    padding-bottom: 0;
  }
  .mobile-pt-0 {
    padding-top: 0;
  }
  .mobile-mt-0 {
    margin-top: 0 !important;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .section-title .btn {
    margin: auto;
  }
  .section-title.section-title-left {
    text-align: center;
  }
  .tab-no-bg {
    background: none;
  }
  .page-grid-left-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .page-grid-right-shadow {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .desk-pad-left-10 {
    padding-left: 0;
  }
  .desk-pad-right-10 {
    padding-right: 0;
  }
  .desk-pad-left-15 {
    padding-left: 0;
  }
  .desk-pad-right-15 {
    padding-right: 0;
  }
  .desk-pad-left-20 {
    padding-left: 0;
  }
  .desk-pad-right-20 {
    padding-right: 0;
  }
  .desk-pad-left-30 {
    padding-left: 0;
  }
  .desk-pad-right-30 {
    padding-right: 0;
  }
  .desk-pad-left-40 {
    padding-left: 0;
  }
  .desk-pad-right-40 {
    padding-right: 0;
  }
  .desk-pad-left-100 {
    padding-left: 0;
  }
  .desk-pad-right-100 {
    padding-right: 0;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  .mt-tab-20 {
    margin-top: 20px;
  }
  .mb-tab-20 {
    margin-bottom: 20px;
  }
  .pt-tab-20 {
    padding-top: 20px;
  }
  .pt-tab-50 {
    padding-top: 50px !important;
  }
  .pb-tab-20 {
    padding-bottom: 20px;
  }
  .pb-tab-0 {
    padding-bottom: 0 !important;
  }
  .pb-tab-20 {
    padding-bottom: 20px;
  }
  .mobile-border-top {
    border-top: 1px dashed #CECECE;
  }
  .section-title small {
    margin-bottom: 13px;
  }
  .section-title h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .section-title p {
    margin-bottom: 20px;
  }
  .mean-container .mean-bar {
    background-color: transparent;
  }
  .mobile-nav .logo {
    position: inherit;
    top: 0;
    left: 0;
  }
  .mobile-nav .logo2 {
    display: none;
  }
  .navbar-option-dots {
    display: block;
  }
  .option-badge {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  .breadcrumb {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-start .breadcrumb {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .mobile-nav .navbar-option-item {
    margin-left: 15px;
  }
  .header-blog-text h3 {
    font-size: 30px !important;
    line-height: 35px !important;
  }
  .header-blog-text h3 span {
    font-size: 60px !important;
  }
  .header-blog-grid-lg .header-blog-image {
    -webkit-box-flex: 0;
            flex: 0 0 150px;
    -ms-flex: 0 0 150px;
    max-width: 150px;
  }
  .header-bottom {
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-grid.page-grid-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .page-grid.page-grid-reverse .page-grid-header {
    left: auto;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .page-grid.page-grid-reverse .page-grid-body {
    padding-left: 0;
    padding-right: 0;
  }
  .page-grid-item {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .page-grid-item .mobile-nav .navbar-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-carousel .slick-dots {
    bottom: 50px;
  }
  .header-carousel-item {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .header-carousel-content {
    max-width: 100%;
  }
  .header-carousel-content .header-content-text h1 {
    font-size: 40px;
  }
  .search-area {
    display: none;
  }
  .page-top-grid {
    display: none;
  }
  .page-header-inner {
    height: auto;
  }
  .page-grid-header {
    height: auto;
    padding-top: 120px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .page-grid-header .fixed-top {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .page-grid-header .navbar-area.is-sticky {
    width: 100%;
  }
  .page-grid-full-nav {
    width: 100%;
  }
  .page-grid-full-nav .page-turn-controller {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .inner-page-side-header {
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .inner-page-side-header .fixed-top {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .inner-page-side-header .navbar-area.is-sticky {
    width: 100%;
  }
  .page-header-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 0;
  }
  .page-header-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .page-header-content h1:last-child {
    margin-bottom: 0;
  }
  .page-header-content .post-entry {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .page-header-content .post-entry:last-child {
    margin-bottom: 0;
  }
  .page-header-content.page-header-content-sm h1 {
    font-size: 30px;
  }
  .inner-page-header {
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .inner-header-content {
    max-width: 100%;
  }
  .inner-header-content .header-content-text {
    text-align: center;
  }
  .inner-header-content .header-content-text h1 {
    font-size: 40px;
  }
  .inner-header-content .header-content-text .post-entry {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-content-text {
    margin-bottom: 20px;
  }
  .page-body-bg {
    height: auto;
  }
  .bb-custom-wrapper {
    height: auto;
  }
  .page-3-body-titles {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .page-3-body-titles .page-2-titles-main {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .page-3-body-titles .page-2-titles-main:last-child {
    margin-bottom: 0;
  }
  .page-3-body-titles h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .page-3-body-titles h3:last-child {
    margin-bottom: 0;
  }
  .page-3-body-titles h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .page-3-body-titles h4:last-child {
    margin-bottom: 0;
  }
  .page-3-body-titles.page-3-body-titles-lg, .page-3-body-titles.page-3-body-titles-xl {
    max-width: 100%;
    width: 100%;
  }
  .page-turn-controller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-turn-controller button {
    font-size: 16px;
  }
  .page-3-redirect {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .page-3-redirect h3 {
    font-size: 25px;
  }
  .page-3-redirect h3 a {
    color: #fff;
    opacity: .65;
  }
  .page-3-redirect h3 a:hover {
    opacity: 1;
  }
  .news-card-grid-item .news-card-thumb {
    min-height: 300px;
  }
  .news-card-grid-item .news-card-thumb img {
    height: auto;
  }
  .news-card-grid-item .news-grid-header {
    display: block;
  }
  .news-grid-header h3 {
    font-size: 35px;
    margin-top: 0;
  }
  .news-card-grid-item-2 {
    height: auto;
  }
  .news-card-grid-item-2 h3 {
    font-size: 35px;
  }
  .news-card-grid-item-2 > p {
    line-height: 1.6em;
  }
  .news-card-grid-item-2 .news-card-thumb {
    height: 300px;
  }
  .page-grid-body {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .page-grid-body .container {
    max-width: 720px;
  }
  .footer-lower {
    padding-bottom: 30px;
  }
  .page-header-content-grid {
    padding-bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-header-content-grid .header-content-text {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .page-header-content-grid h1 {
    font-size: 60px;
  }
  .page-header-content-grid p {
    font-size: 16px;
  }
  .page-header-content-grid .page-turn-controller {
    text-align: center;
  }
  .page-grid-item.page-grid-item-full.page-grid-body {
    padding-left: 0;
    padding-right: 0;
  }
  .page-grid-item.page-grid-item-full .fixed-top {
    width: 100%;
  }
  .page-grid-item.page-grid-item-full .navbar-area.is-sticky {
    width: 100%;
  }
  .page-grid-body .mobile-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fixed-top-half .mobile-nav {
    padding-left: 10px;
    padding-right: 10px;
  }
  .news-card-grid-3 .news-card-grid-item .news-grid-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news-newsletter .form-group .form-control {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .news-newsletter .main-btn {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .page-last-content {
    display: block;
    padding-top: 0;
  }
  .page-last-content .page-header-content-grid {
    height: auto;
    display: block;
  }
  .page-last-content .page-header-content-grid .header-content-text {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .page-last-content .page-header-content-grid .page-turn-controller {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-blockquote {
    padding: 30px;
  }
  .single-post-details .blockquote-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .product-details-carousel-area {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .product-details-controller {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart-table {
    width: 100%;
  }
  .cart-table table thead tr th {
    font-size: 16px;
  }
  .cart-table table tbody tr td {
    font-size: 18px;
  }
  .cart-table table tbody tr td .main-btn {
    padding: 10px 15px;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 14px;
  }
  .cart-table table tbody tr td .cart-quantity button {
    width: 45px;
    height: 35px;
    font-size: 20px;
  }
  .cart-table table tbody tr td .cart-quantity input {
    -webkit-box-flex: 0;
            flex: 0 0 45px;
    -ms-flex: 0 0 45px;
    max-width: 45px;
    width: 45px;
    height: 35px;
    font-size: 16px;
  }
  .cart-table table tbody tr td.cancel a {
    font-size: 14px;
  }
  .product-table-info span {
    font-size: 22px;
  }
  .product-table-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    max-width: 100px;
    width: 100px;
  }
  .cart-empty-text h3 {
    font-size: 35px;
  }
  .cart-info {
    width: 100%;
  }
  .self-text h1 {
    font-size: 40px;
  }
  .self-text h2 {
    font-size: 35px;
  }
  .self-text h3 {
    font-size: 25px;
  }
  .self-text h4 {
    font-size: 20px;
  }
  .self-text h5 {
    font-size: 17px;
  }
  .self-text h6 {
    font-size: 15px;
  }
  .self-text p {
    font-size: 16px;
  }
  .self-text table thead tr th {
    font-size: 16px;
  }
  .self-text table tbody tr td {
    font-size: 16px;
  }
  .self-text ul > li {
    font-size: 16px;
  }
  .self-text ul ul, .self-text ul ol {
    padding-left: 20px;
  }
  .self-text ol li {
    font-size: 16px;
  }
  .new-counter p {
    font-size: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .new-counter p:before {
    font-size: 60px;
  }
  .new-counter p span {
    font-size: 30px;
  }
  .coming-soon-details h2 {
    font-size: 45px;
  }
  .category-content.category-content-lg h3 {
    font-size: 35px;
  }
  .tab-half-height {
    height: 50vh;
  }
  .tab-half-height .page-header-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tab-half-height .page-3-body-titles {
    margin-top: auto;
  }
}

@media only screen and (max-width: 767px) {
  .breadcrumb .breadcrumb-item {
    font-size: 14px;
  }
  .main-btn {
    padding: 10px 15px;
    font-size: 12px;
  }
  .main-btn i {
    font-size: 12px;
  }
  .btn-link {
    font-size: 12px;
  }
  .social-list li {
    font-size: 18px;
  }
  .social-list.social-list-btn li {
    width: 30px;
    height: 30px;
    font-size: 11px;
  }
  .sub-section-title .sub-section-title-heading {
    font-size: 22px;
  }
  .sub-section-title p {
    font-size: 14px;
  }
  .section-title small {
    margin-bottom: 10px;
    font-size: 17px;
  }
  .section-title h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .section-title h2:before {
    -webkit-animation: none;
            animation: none;
  }
  .section-title p {
    margin-bottom: 10px;
  }
  .input-group {
    padding: 10px 20px;
  }
  .main-nav .navbar-option-wishlist {
    padding-right: 15px;
  }
  .navbar-option-item a i {
    font-size: 15px;
  }
  .mobile-nav .navbar-option-item {
    margin-left: 15px;
  }
  .mobile-nav .navbar-option-item button i {
    font-size: 15px;
  }
  .mobile-nav .navbar-option-item .input-group-prepend .input-group-text {
    font-size: 13px;
  }
  .mobile-nav .navbar-option-item .input-group {
    padding: 10px 15px;
  }
  .mobile-nav .navbar-option-item .input-group .form-control {
    font-size: 13px;
  }
  .navbar-option-language button {
    font-size: 12px;
  }
  .navbar-option-language button i {
    font-size: 15px;
    margin-right: 5px;
  }
  .navbar-option-language button.dropdown-toggle:after {
    font-size: 10px;
    margin-left: 5px;
  }
  .navbar-option-language .dropdown-menu .dropdown-item {
    font-size: 12px;
  }
  .navbar-option-language .dropdown-menu .dropdown-item img {
    -webkit-box-flex: 0;
            flex: 0 0 20px;
    -ms-flex: 0 0 20px;
    max-width: 20px;
  }
  .mobile-nav.mean-container {
    border-bottom: 0;
  }
  .mobile-nav.mean-container .mean-bar {
    background-color: transparent;
    left: 0;
    top: 0;
    padding: 0;
    height: 100%;
  }
  .mobile-nav.mean-container a.meanmenu-reveal {
    height: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding-top: 7px;
    padding-right: 10px;
  }
  .header-blog-grid-lg .header-blog-image {
    -webkit-box-flex: 0;
            flex: 0 0 120px;
    -ms-flex: 0 0 120px;
    max-width: 120px;
  }
  .header-blog-text h3 {
    font-size: 25px !important;
    line-height: 30px !important;
  }
  .header-blog-text h3 span {
    font-size: 50px !important;
  }
  .page-header-content h1 {
    font-size: 30px;
  }
  .page-header-content h1:last-child {
    margin-bottom: 0;
  }
  .page-header-content.page-header-content-sm h1 {
    font-size: 25px;
  }
  .page-header-content-grid h1 {
    font-size: 40px;
  }
  .page-header-content-grid p {
    font-size: 14px;
  }
  .news-title h2 {
    font-size: 22px;
  }
  .news-title h2:after {
    content: "";
    width: 2000px;
    height: 13px;
    background-image: url(../images/right-arrow.png);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: 15px;
  }
  .social-list li {
    font-size: 17px;
  }
  .news-card-content h3 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .news-card-content p {
    font-size: 14px;
  }
  .news-card-entry {
    margin-top: 15px;
  }
  .news-card-entry li {
    font-size: 13px;
  }
  .news-card-entry li i {
    font-size: 17px;
  }
  .news-card-link {
    margin-top: 15px;
    font-size: 17px;
  }
  .news-card-link a:after {
    font-size: 12px;
  }
  .news-flat-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    max-width: 100px;
  }
  .news-flat-content h3 {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .news-flat-content p {
    font-size: 14px;
  }
  .news-follow {
    padding: 15px 25px 5px;
  }
  .news-follow h4 {
    font-size: 19px;
  }
  .news-author {
    font-size: 14px;
  }
  .news-video-icon {
    width: 60px;
    height: 60px;
  }
  .news-video-icon a {
    font-size: 18px;
  }
  .news-video-icon a:before {
    width: 70px;
    height: 70px;
  }
  .news-newsletter {
    padding: 20px;
  }
  .news-newsletter h3 {
    font-size: 20px;
  }
  .news-newsletter .form-group .form-control {
    padding: 10px 15px;
    font-size: 14px;
  }
  .news-grid-header h3 {
    font-size: 25px;
  }
  .news-card-grid-item-2 h3 {
    font-size: 25px;
  }
  .news-card-grid-item-2 > p {
    line-height: 1.6em;
  }
  .news-card-grid-item-2 .news-card-thumb {
    height: 300px;
    margin-bottom: 20px;
  }
  .news-grid-details > p {
    font-size: 14px;
  }
  .page-grid-body .container {
    max-width: 540px;
  }
  .news-follow-list-item a {
    padding: 10px 20px;
    font-size: 14px;
  }
  .page-turn-controller button {
    font-size: 14px;
  }
  .footer-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-content-item {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .footer-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-list li {
    font-size: 14px;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-social.social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-copyright-text {
    padding-right: 0;
    margin-right: 0;
    text-align: center;
  }
  .footer-copyright-text p {
    font-size: 14px;
  }
  .news-card-grid-3 .news-card-grid-item:nth-child(1) {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .news-card-grid-3 .news-card-grid-item:nth-child(2) {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .news-card-grid-3 .news-card-grid-item:nth-child(3) {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .news-card-grid-3 .news-card-grid-item .news-grid-header {
    display: block;
  }
  .news-card-grid-3 .news-card-grid-item .news-grid-action {
    margin-bottom: 0;
  }
  .about-content p {
    font-size: 14px;
  }
  .about-blockquote-inner {
    padding-left: 20px;
  }
  .about-blockquote-inner:before {
    font-size: 15px;
  }
  .about-blockquote-text p {
    font-size: 15px;
  }
  .about-blockquote-controller {
    position: inherit;
    bottom: 0;
    right: 0;
    margin-top: 20px;
    padding-left: 20px;
  }
  .about-blockquote-controller button {
    width: 30px;
    height: 30px;
  }
  .about-blockquote-controller button i {
    font-size: 14px;
  }
  .news-newsletter-2 h3 {
    font-size: 20px;
  }
  .news-newsletter-2 .input-group {
    padding: 8px 8px 8px 15px;
  }
  .news-newsletter-2 .main-btn {
    padding: 10px 15px;
  }
  .about-history-counter .history-content h3 {
    font-size: 25px;
  }
  .inner-header-content .header-content-text h1 {
    font-size: 30px;
  }
  .inner-header-content .header-content-text p {
    font-size: 15px;
  }
  .product-list-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-list-search .form-group {
    padding: 10px 15px;
  }
  .nice-select {
    padding: 10px 30px 10px 15px;
    font-size: 14px;
  }
  .product-list-result p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .product-card-details h3 {
    font-size: 22px;
  }
  .product-price {
    font-size: 17px;
  }
  .product-price del {
    font-size: 14px;
  }
  .product-details-carousel-area {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .product-details-nav {
    max-height: 100%;
  }
  .product-details-nav .slick-list {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .product-details-nav .item {
    margin-bottom: 0;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
  .product-details-for-area {
    margin-bottom: 15px;
  }
  .product-details-for {
    max-height: 100%;
  }
  .product-details-nav-area .product-details-controller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-details-for-area .product-details-controller {
    display: none;
  }
  .page-grid-body .inner-header-content {
    margin-bottom: 30px;
  }
  .product-details-caption h3 {
    font-size: 20px;
  }
  .product-details-caption h5 {
    font-size: 16px;
  }
  .product-details-caption p {
    font-size: 15px;
  }
  .product-details-caption .product-size li a {
    padding: 8px 15px;
    font-size: 14px;
  }
  .cart-quantity button {
    padding: 8px 17px;
    font-size: 14px;
  }
  .cart-quantity input {
    font-size: 14px;
  }
  .product-addwishlist a {
    font-size: 14px;
  }
  .product-addwishlist a i {
    font-size: 15px;
  }
  .product-action-share span {
    font-size: 15px;
  }
  .product-tab-list li {
    padding: 8px 12px;
    font-size: 14px;
  }
  .product-description p {
    font-size: 15px;
  }
  .product-description ul li {
    font-size: 15px;
  }
  .product-description ul li:before {
    font-size: 18px;
  }
  .product-review-header-item h3 {
    font-size: 18px;
  }
  .product-review-header-item h4 {
    font-size: 13px;
  }
  .product-review-header-item .main-btn {
    padding: 7px 15px;
  }
  .product-review-content p {
    font-size: 13px;
  }
  .product-review-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 100px;
    -ms-flex: 0 100px;
    max-width: 100px;
  }
  .related-product-carousel .product-card-details h3 {
    font-size: 16px;
  }
  .related-product-carousel .product-card-details .product-price {
    font-size: 14px;
  }
  .default-carousel-controller button {
    -webkit-box-flex: 0;
            flex: 0 0 25px;
    -ms-flex: 0 0 25px;
    width: 25px;
    height: 25px;
    font-size: 13px;
  }
  .cart-table table thead tr th {
    font-size: 15px;
  }
  .cart-table table tbody tr td {
    font-size: 15px;
  }
  .cart-table table tbody tr td .main-btn {
    padding: 8px 12px;
    font-size: 13px;
  }
  .cart-table table tbody tr td .cart-quantity button {
    width: 35px;
    height: 30px;
    font-size: 17px;
  }
  .cart-table table tbody tr td .cart-quantity input {
    -webkit-box-flex: 0;
            flex: 0 0 35px;
    -ms-flex: 0 0 35px;
    max-width: 35px;
    width: 35px;
    height: 30px;
    font-size: 14px;
  }
  .cart-table table tbody tr td.cancel a {
    font-size: 12px;
  }
  .product-table-info span {
    font-size: 18px;
  }
  .product-table-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 80px;
    -ms-flex: 0 0 80px;
    max-width: 80px;
    width: 80px;
    margin-right: 20px;
  }
  .cart-coupon form .form-group .form-control {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 13px;
  }
  .cart-coupon form .form-group .main-btn {
    padding: 10px 15px;
  }
  .cart-details-title {
    font-size: 20px;
  }
  .cart-total-item h4 {
    font-size: 18px;
  }
  .cart-total-item p {
    font-size: 16px;
  }
  .cart-total-item:last-child p {
    font-size: 20px;
  }
  .cart-empty-text h3 {
    font-size: 25px;
  }
  .cart-empty-text p {
    font-size: 15px;
  }
  .checkout-list-item .product-table-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    max-width: 50px;
    width: 50px;
  }
  .checkout-list-item .product-table-info span {
    font-size: 14px;
  }
  .checkout-list-item .checkout-list-price p {
    font-size: 14px;
  }
  .checkout-payment-text h3 {
    font-size: 16px;
  }
  .checkout-payment-text p {
    font-size: 14px;
  }
  .authentication-item h2 {
    font-size: 22px;
  }
  .authentication-item .form-desc {
    font-size: 14px;
  }
  .auth-info {
    font-size: 14px;
  }
  .form-control {
    padding: 10px 15px;
    font-size: 12px;
  }
  .authentication-link a {
    font-size: 12px;
  }
  .input-checkbox label {
    padding-left: 30px;
    font-size: 12px;
  }
  .input-radio label {
    padding-left: 30px;
    font-size: 12px;
  }
  .canvas-toc h2 {
    font-size: 25px;
  }
  .canvas-toc ul li {
    font-size: 14px;
  }
  .canvas-toc p {
    font-size: 14px;
  }
  .gallery-carousel-content p {
    font-size: 14px;
  }
  .gallery-grid-area p {
    font-size: 14px;
  }
  .self-text h1 {
    font-size: 35px;
  }
  .self-text h2 {
    font-size: 30px;
  }
  .self-text h3 {
    font-size: 22px;
  }
  .self-text h4 {
    font-size: 18px;
  }
  .self-text h5 {
    font-size: 16px;
  }
  .self-text h6 {
    font-size: 14px;
  }
  .self-text p {
    font-size: 14px;
  }
  .self-text table thead tr th {
    font-size: 14px;
  }
  .self-text table tbody tr td {
    font-size: 14px;
  }
  .self-text ul > li {
    font-size: 14px;
  }
  .self-text ol li {
    font-size: 14px;
  }
  .category-box p {
    font-size: 14px;
  }
  .promo-content {
    padding: 40px 25px;
  }
  .promo-content h3 {
    font-size: 20px;
  }
  .promo-content p {
    font-size: 14px;
  }
  .team-info h3 {
    font-size: 18px;
  }
  .team-info .social-list li {
    font-size: 15px;
  }
  .team-info p {
    font-size: 14px;
  }
  .team-content-work h4 {
    font-size: 15px;
  }
  .team-content-work ul li {
    font-size: 14px;
  }
  .team-figure {
    -webkit-box-flex: 0;
            flex: 0 0 70px;
    -ms-flex: 0 0 70px;
    max-width: 70px;
    margin-right: 15px;
  }
  .error-page-content img {
    margin-bottom: 30px;
  }
  .error-page-content h2 {
    font-size: 25px;
  }
  .error-page-content p {
    font-size: 15px;
  }
  .new-counter p {
    font-size: 50px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .new-counter p:before {
    font-size: 50px;
  }
  .new-counter p span {
    font-size: 25px;
  }
  .coming-soon-details {
    padding-top: 35px;
    margin-top: 40px;
  }
  .coming-soon-details h2 {
    margin-bottom: 20px;
  }
  .coming-soon-details p {
    font-size: 15px;
  }
  .coming-soon-details .form-group .form-control {
    padding: 10px 15px;
    font-size: 12px;
  }
  .text-details-content h1 {
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content h1:first-child {
    margin-top: 0;
  }
  .text-details-content h1:last-child {
    margin-bottom: 0;
  }
  .text-details-content h2 {
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content h2:first-child {
    margin-top: 0;
  }
  .text-details-content h2:last-child {
    margin-bottom: 0;
  }
  .text-details-content h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content h3:first-child {
    margin-top: 0;
  }
  .text-details-content h3:last-child {
    margin-bottom: 0;
  }
  .text-details-content h4 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content h4:first-child {
    margin-top: 0;
  }
  .text-details-content h4:last-child {
    margin-bottom: 0;
  }
  .text-details-content h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content h5:first-child {
    margin-top: 0;
  }
  .text-details-content h5:last-child {
    margin-bottom: 0;
  }
  .text-details-content h6 {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content h6:first-child {
    margin-top: 0;
  }
  .text-details-content h6:last-child {
    margin-bottom: 0;
  }
  .text-details-content p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content p:first-child {
    margin-top: 0;
  }
  .text-details-content p:last-child {
    margin-bottom: 0;
  }
  .text-details-content ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content ul:first-child {
    margin-top: 0;
  }
  .text-details-content ul:last-child {
    margin-bottom: 0;
  }
  .text-details-content ul li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 35px;
  }
  .text-details-content ul li:before {
    font-size: 17px;
  }
  .text-details-content ul li ol {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content ul li ol:first-child {
    margin-top: 20px;
  }
  .text-details-content ul li ol:last-child {
    margin-bottom: 20px;
  }
  .text-details-content ol {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content ol:first-child {
    margin-top: 0;
  }
  .text-details-content ol:last-child {
    margin-bottom: 0;
  }
  .text-details-content ol li {
    font-size: 16px;
  }
  .text-details-content table {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .text-details-content table:first-child {
    margin-top: 0;
  }
  .text-details-content table:last-child {
    margin-bottom: 0;
  }
  .text-details-content table thead tr th {
    font-size: 15px;
    padding: 15px 20px;
  }
  .text-details-content table tbody tr td {
    font-size: 14px;
    padding: 15px 20px;
  }
  .account-sidebar {
    padding: 25px;
  }
  .account-sidebar-list li a {
    font-size: 14px;
  }
  .account-info {
    padding: 25px;
  }
  .account-info .cart-table table thead tr th {
    font-size: 14px;
  }
  .account-info .cart-table table tbody tr td {
    font-size: 14px;
  }
  .account-avatar-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .account-avatar-thumb {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .account-avatar-action {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .account-avatar-action li .main-btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .account-setting-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .my-order .sub-section-title {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .my-order .product-list-action {
    width: 100%;
  }
  .my-order .nice-select .list {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    right: auto;
  }
  .my-order .nice-select .option {
    line-height: 30px;
    min-height: 15px;
  }
  .billing-title h4 {
    font-size: 16px;
  }
  .billing-title p {
    font-size: 14px;
  }
  .billing-address address {
    font-size: 14px;
  }
  .category-content h3 {
    font-size: 16px;
  }
  .category-content p {
    font-size: 14px;
  }
  .category-content.category-content-lg h3 {
    font-size: 25px;
  }
  .tab-half-height {
    height: auto;
  }
  .single-post-details p {
    font-size: 15px;
  }
  .single-post-details .blockquote-1 {
    font-size: 15px;
  }
  .single-post-details .blockquote-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .single-post-details .blockquote-2 .blockquote-inner {
    padding-left: 20px;
  }
  .single-post-details .blockquote-2 .blockquote-inner:before {
    font-size: 15px;
    top: 5px;
  }
  .single-post-details .blockquote-2 .blockquote-text p {
    font-size: 15px;
  }
  .single-post-details ul > li {
    font-size: 15px;
  }
  .post-entry li {
    margin-right: 20px;
  }
  .post-entry li img {
    -webkit-box-flex: 0;
            flex: 0 0 25px;
    -ms-flex: 0 0 25px;
    max-width: 25px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .post-entry li span {
    font-size: 16px;
  }
  .post-entry li:last-child {
    margin-right: 0;
  }
  .single-blog-navigation-item {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .single-blog-navigation-item.single-blog-navigation-item-sm {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .single-blog-navigation-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 70px;
    -ms-flex: 0 0 70px;
    max-width: 70px;
  }
  .product-review-item-reply {
    padding-left: 30px;
  }
  .post-review-content h2 {
    font-size: 22px;
  }
  .single-post-tag li a {
    padding: 8px 15px;
    font-size: 14px;
  }
  .author-box {
    padding: 25px;
  }
  .author-box h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .author-info {
    margin-bottom: 20px;
  }
  .author-info img {
    -webkit-box-flex: 0;
            flex: 0 0 70px;
    -ms-flex: 0 0 70px;
    max-width: 70px;
    width: 70px;
    height: 70px;
  }
  .author-info .author-info-text h3 {
    font-size: 18px;
  }
  .author-info .author-info-text h4 {
    font-size: 15px;
  }
  .author-box-content p {
    font-size: 14px;
  }
  .sidebar-title h2 {
    font-size: 22px;
  }
  .recent-article-list-item figure {
    -webkit-box-flex: 0;
            flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    max-width: 100px;
    margin-right: 15px;
  }
  .recent-article-text h3 {
    font-size: 15px;
  }
  .author-box-content-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .author-box-content-flex .author-info {
    margin-right: 0;
    margin-bottom: 20px;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .author-box-content-flex p {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .header-blog-grid {
    display: none;
  }
  .rev-header {
    height: 400px;
  }
  .rev_slider_wrapper {
    height: 400px !important;
  }
  .tp-bullets {
    top: 92% !important;
  }
  .header-carousel-content .header-content-text h1 {
    font-size: 25px;
  }
  .header-carousel-content .header-content-text p {
    font-size: 15px;
  }
  .page-news-box .news-card-content h3 {
    font-size: 18px;
  }
  .page-news-box .news-card-content .news-card-link {
    font-size: 13px;
  }
  .page-news-box .news-flat-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 80px;
    -ms-flex: 0 0 80px;
    max-width: 80px;
  }
  .page-news-box .news-flat-content h3 {
    font-size: 14px;
  }
  .scroll-top {
    width: 30px;
    height: 30px;
  }
  .scroll-top-inner span i {
    font-size: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .header-blog-text h3 {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  .header-blog-text h3 span {
    font-size: 40px !important;
  }
  .header-blog-grid-lg .header-blog-image {
    -webkit-box-flex: 0;
            flex: 0 0 80px;
    -ms-flex: 0 0 80px;
    max-width: 80px;
  }
  .news-grid-details:first-child {
    margin-bottom: 20px;
  }
  .news-grid-details:last-child {
    margin-bottom: 0;
  }
  .news-grid-details img {
    float: none;
    margin-left: 0;
  }
  .news-card-flat .news-card-thumb {
    margin-right: 0;
    margin-bottom: 20px;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .page-turn-controller {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-last-content .page-header-content-grid .page-turn-controller {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-details-carousel-area {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .product-review-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .product-review-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 80px;
    -ms-flex: 0 80px;
    max-width: 80px;
  }
  .product-review-header-item {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .gallery-grid-item {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .new-counter p {
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .new-counter p:before {
    font-size: 25px;
  }
  .new-counter p span {
    font-size: 16px;
  }
  .coming-soon-details {
    padding-top: 20px;
    margin-top: 30px;
  }
  .coming-soon-details h2 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .coming-soon-details .form-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .coming-soon-details .form-group .form-control {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .coming-soon-details .form-group .main-btn {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .header-blog-grid a {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-blog-text {
    padding-left: 0;
    margin-top: 15px;
  }
  .header-blog-text h3 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
  .width-225 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-option-item {
    margin-left: 25px;
  }
  .news-grid-header h3 {
    font-size: 30px;
  }
  .about-blockquote {
    padding: 40px;
  }
  .single-post-details .blockquote-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .about-history-counter .history-content h3 {
    font-size: 30px;
  }
  .new-counter p {
    font-size: 80px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .new-counter p:before {
    font-size: 80px;
    top: 0;
  }
  .news-flat-content h3 {
    font-size: 17px;
  }
  .news-flat-thumb {
    -webkit-box-flex: 0;
            flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    max-width: 100px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation: landscape) {
  .tab-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .tab-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .news-grid-header-space {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=responsive.css.map */